<table class="table">
    <input type="text" [(ngModel)]="searchText" (input)="filterHeroes()" placeholder="Search by name or special power" />

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">SpecialPower</th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let hero of heroesData | paginate: { itemsPerPage: 5, currentPage: paginaAtual }">
            <th>{{ hero.id }}</th>
            <td>{{ hero.name }}</td>
            <td>{{ hero.specialPower }}</td>
            <td>
                <button [routerLink]="['/detail-hero', hero.id]"><i class="fa-solid fa-info"></i></button>
                <button [routerLink]="['/edit-hero', hero.id]"><i class="fa-solid fa-pen-to-square"></i></button>
                <button (click)="removeHero(hero.id)"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>

    </tbody>
</table>
<pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>